.element__like {
    display: block;
    padding: 0;
    margin: 0;
    background: url(../../../images/like.svg);
    border: none;
    opacity: 1;
    transition: opacity 1s ease;
    width: 22px;
    height: 19px;
}

.element__like:hover {
    opacity: .5;
    transition: opacity 1s ease;
}