.profile__edit-button {
    align-self: center;
    background: inherit;
    padding: 7px;
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s ease;
}

.profile__edit-button:hover {
    opacity: .6;
    transition: opacity 1s ease; 
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        padding: 5.25px;
        grid-column: 2/3;
        grid-row: 1;
    }
}