.profile__info {
    margin: 0 auto 0 0;
    display: grid;
    grid-template-columns: auto 24px;
    gap: 16px 18px;
}

@media screen and (max-width: 682px) {
    .profile__info {
        width: 100%;
        margin: 0;
        margin-bottom: 36px;
        gap: 10px 14px;
    }
}